body{
background-image: url("resources/tom_jerry.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
.home
{
    margin-top: 30px;
}
.scrapbook, .episodes, .videos, .merchandise{
    margin-top: 20px;
}
.home>a{
    margin-left:40px;
}
.home-content
{
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.scrapbook>a
{
    margin-left: 100px;
}

.episodes>a{
    margin-left:200px;
}
.merchandise>a{
    margin-left: 280px;
}
.scrapbook-content
{
    margin-left: 80px;
}

.episodes-content
{
    margin-left: 180px;
}
.merchandise-content
{
    margin-left: 220px;
}
.page-name
    {
        float: right;
        font-size: 50px;
        margin-right: 30px;
        color: aqua;
        margin-top: 0px;
    }